name: Build release
on:
  workflow_dispatch:
jobs:
  get-stable-hash:
    runs-on: ubuntu-latest
    outputs:
      hash: ${{ steps.get-latest-flutter-stable-hash.outputs.latest_stable_hash }}
    steps:
      - name: Get latest flutter stable hash
        id: get-latest-flutter-stable-hash
        run: |
          latest_hash=$(curl -s https://storage.googleapis.com/flutter_infra_release/releases/releases_linux.json | jq -r '.current_release.stable')
          # subosito/flutter-action expects a 7-digit hash
          latest_hash=${latest_hash:0:7}
          echo "Latest stable flutter hash (short): $latest_hash"
          echo "latest_stable_hash=$latest_hash" >> "$GITHUB_OUTPUT"

  build-android:
    needs: get-stable-hash
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Preparing environment
        run: |
          mkdir ./release

      - uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: "master"
          flutter-version: ${{needs.get-stable-hash.outputs.hash}}

      - name: Disable flutter/dart analytics
        run: |
          dart --disable-analytics
          flutter config --disable-analytics

      - name: Downloading keystores
        uses: actions/checkout@v4
        with:
          repository: hedon-haven/keystores
          path: ./android/keystores
          token: ${{ secrets.READ_ACCESS }}
          sparse-checkout: android

      - name: Move keystores to correct dir
        run: mv ./android/keystores/android/* ./android/keystores/

      - name: Building android releases
        run: |
          echo "Preparing flutter"
          flutter clean && flutter pub get
          echo "Building split apks"
          flutter -v build apk --split-per-abi
          echo "Building combined apk"
          flutter -v build apk
          echo "Copying apks to release dir"
          mv ./build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk ./release/android-arm32.apk
          mv ./build/app/outputs/flutter-apk/app-arm64-v8a-release.apk ./release/android-arm64.apk
          mv ./build/app/outputs/flutter-apk/app-x86_64-release.apk ./release/android-x86_64.apk
          mv ./build/app/outputs/flutter-apk/app-release.apk ./release/android-all.apk

      - name: Uploading android artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-artifacts
          path: ./release/*.apk

  build-linux-x86_64:
    needs: get-stable-hash
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Preparing environment
        run: |
          mkdir ./release
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev mpv libmpv-dev
      - uses: subosito/flutter-action@v2
        with:
          channel: "master"
          flutter-version: ${{needs.get-stable-hash.outputs.hash}}

      # TODO: Add arm64 build
      - name: Building linux-x86_64 releases
        run: |
          echo "Preparing flutter"
          flutter clean && flutter pub get
          echo "Building linux-x64 release bundle"
          flutter -v build linux --target-platform linux-x64
          bash ./linux/fix-version-post-build.sh
          echo "Compressing bundles"
          tar -czvf linux-x86_64.tar.gz -C ./build/linux/x64/release/bundle .
          echo "Copying bundles to release dir"
          mv ./linux-x86_64.tar.gz ./release/linux-x86_64.tar.gz

      - name: Uploading linux-x86_64 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86_64-artifacts
          path: ./release/linux-x86_64.tar.gz

  build-linux-arm64:
    needs: get-stable-hash
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Preparing environment
        run: |
          mkdir ./release
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev mpv libmpv-dev
      - uses: subosito/flutter-action@v2
        with:
          channel: "master"
          flutter-version: ${{needs.get-stable-hash.outputs.hash}}

      # TODO: Add arm64 build
      - name: Building linux-arm64 release
        run: |
          echo "Preparing flutter"
          flutter clean && flutter pub get
          echo "Building linux-arm64 release bundle"
          flutter -v build linux --target-platform linux-arm64
          bash ./linux/fix-version-post-build.sh
          echo "Compressing linux-arm64 bundle..."
          tar -czvf ./release/linux-arm64.tar.gz -C ./build/linux/arm64/release/bundle .

      - name: Uploading linux-arm64 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-arm64-artifacts
          path: ./release/linux-arm64.tar.gz

  build-windows-x86_64:
    needs: get-stable-hash
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "master"
          flutter-version: ${{needs.get-stable-hash.outputs.hash}}

      - name: Preparing environment
        run: |
          mkdir release

      - name: Building Windows release
        run: |
          echo "Preparing flutter"
          flutter clean
          flutter pub get
          
          echo "Building windows x64 release"
          flutter -v build windows --release
          
          echo "Compressing release folder"
          Compress-Archive -Path "build\windows\x64\runner\Release\*" `
                           -DestinationPath "release\windows-x86_64.zip" `
                           -Force

      - name: Uploading windows-x86_64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-x86_64-artifacts
          path: release/windows-x86_64.zip

  #  build-windows-arm64:
  #    needs: get-stable-hash
  #    runs-on: windows-11-arm
  #    steps:
  #      - uses: actions/checkout@v4
  #        with:
  #          fetch-depth: 1
  #
  #      - name: Set up Flutter
  #        uses: subosito/flutter-action@v2
  #        with:
  #          channel: "master"
  #          flutter-version: ${{needs.get-stable-hash.outputs.hash}}
  #
  #      - name: Preparing environment
  #        run: |
  #          mkdir release
  #
  #      - name: Building windows arm64 release
  #        run: |
  #          echo "Preparing flutter"
  #          flutter clean
  #          flutter pub get
  #
  #          echo "Building windows arm64 release"
  #          flutter -v build windows --release
  #
  #          echo "Compressing release folder"
  #          Compress-Archive -Path "build\windows\arm64\runner\Release\*" `
  #                           -DestinationPath "release\windows-arm64.zip" `
  #                           -Force
  #
  #      - name: Uploading windows-arm64 artifact
  #        uses: actions/upload-artifact@v4
  #        with:
  #          name: windows-arm64-artifacts
  #          path: release/windows-arm64.zip

  create-release:
    runs-on: ubuntu-latest
    needs: [ build-android, build-linux-x86_64, build-linux-arm64, build-windows-x86_64 ] #, build-windows-arm64 ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Download android artifacts
        uses: actions/download-artifact@v4
        with:
          name: android-artifacts
          path: ./release
      - name: Download linux-x86_64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-x86_64-artifacts
          path: ./release
      - name: Download linux-arm64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-arm64-artifacts
          path: ./release
      - name: Download windows-x86_64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-x86_64-artifacts
          path: ./release
      #      - name: Download windows-arm64 artifacts
      #        uses: actions/download-artifact@v4
      #        with:
      #          name: windows-arm64-artifacts
      #          path: ./release


      - name: Generating checksums.json
        run: |
          json="{}"
          for file in ./release/*; do
            checksum=$(sha256sum "$file" | awk '{ print $1 }')
            # Get the filename without the path
            filename=$(basename "$file")
            json=$(echo "$json" | jq --arg file "$filename" --arg checksum "$checksum" '. + {($file): $checksum}')
          done
          echo "$json" > ./release/checksums.json
      - name: Generating release tag
        id: tag
        run: |
          tag=v$(grep -oP '(?<=version: )[^+]*' ./pubspec.yaml)
          echo "tag=$tag" >> $GITHUB_OUTPUT
      - name: Publishing new release
        uses: softprops/action-gh-release@v2
        with:
          name: APK BUILD - ${{ steps.tag.outputs.tag }}
          tag_name: ${{ steps.tag.outputs.tag }}
          make_latest: false
          prerelease: true
          files: |
            ./release/*
